@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



li {
    list-style-type: none;
}

section {
    background-color: rgb(210, 210, 210);
}
/* LANDING PAGE */

#landing-page {
     min-height: 100vh;
}

header {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding:  0 30px;
 }

 .title {
    font-size: 50px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
 }

a {
    text-decoration: none;
}

.container {
    padding: 50px 0; 
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
.click {
    transition: all 500ms ease;
}
.click:hover {
    transform: scale(1.3);
}

.click:active {
    transform: scale(0.8);
}

.mail__button {
    position: absolute;
    bottom: 32px;
    right: 30px;
    background-color: indigo;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}
/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
    gap: 20px;
}

#personal__logo {
    width: 100px;
    height: auto;
}

.nav__link {
    margin: 0 12px;
    align-items: center;
    padding-top: 36px;
}

.nav__link--anchor {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
}

.fa-adjust {
    font-size: 24px;
    color: #242424;
}

/* HEADER CONTENT */

.red {
    color: indigo
}

.header__para {
    font-size: 24px;
    line-height: 2;
    text-align: left;
    max-width: 450px;
    margin-top: 20px;
}

.social__lists {
    margin-top: 16px;
    display: flex;
}

.social__links {
    background-color: indigo;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* PROJECTS SECTION */

.section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.project__image {
    width: 100%;
    height: auto;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__image {
    transform: scale(1.07);
    filter: blur(5px);
    transition: all 600ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.9;
}

.project__description {
    position: absolute;
    top:50%;
    left:90px;
    transform: translateY(-100%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 600ms ease, transform 600ms ease;
} 

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 600ms ease;
}

.project__description--title {
    font-size: 50px;
}

.project__description--subtitle {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.project__description--link {
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

.project__description--para {
    margin-top: 16px 0;
    line-height: 2;
}

/* FOOTER SECTION */

footer {
    background-color: #242424;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#footer__logo {
    width: 150px;
    height: auto;
    filter: invert(1);
}

.footer__social--link {
    color: white;
}

.footer__copyright {
    margin-top: 22px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social--list {
    width: 100%;
    display: flex;  
    justify-content: space-around;
    max-width: 700px;
    margin: 28px 0;
}