@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



li {
    list-style-type: none;
}

section {
    background-color: rgb(191, 191, 191);
}
/* LANDING PAGE */

#landing-page {
     min-height: 100vh;
}

header {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding:  0 30px;
 }

 .title {
    font-size: 50px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
 }

a {
    text-decoration: none;
}

.click {
    transition: all 500ms ease;
}
.click:hover {
    transform: scale(1.3);
}

.click:active {
    transform: scale(0.8);
}
 
/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
    gap: 20px;
}

#personal__logo {
    width: 100px;
    height: auto;
}

.nav__link {
    margin: 0 12px;
    align-items: center;
    padding-top: 36px;
}

.nav__link--anchor {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
}

.fa-adjust {
    font-size: 24px;
    color: #242424;
}

/* HEADER CONTENT */

.red {
    color: red;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    text-align: left;
    max-width: 450px;
    margin-top: 20px;
}

.social__lists {
    margin-top: 16px;
    display: flex;
}

.social__links {
    background-color: red;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
