@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

toggleContrast

li {
    list-style-type: none;
}

section {
    background-color: rgb(210, 210, 210);
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 450ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 16px;
    margin-bottom: 8px; 
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #872af8;
}
/* LANDING PAGE */

#landing-page {
     min-height: 100vh;
}

header {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding:  0 30px;
 }

 .title {
    font-size: 50px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
 }

a {
    text-decoration: none;
}

.container {
    padding: 50px 0; 
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
.click {
    transition: all 500ms ease;
    cursor: pointer;
}
.click:hover {
    transform: scale(1.3);
}

.click:active {
    transform: scale(0.8);
}

.link__hover-effect {
    position: relative;
}
.link__hover-effect:after {
    content: "";
    position:absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #242424;
    transition: all 800ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.mail__button {
    position: absolute;
    bottom: 32px;
    right: 30px;
    background-color: #872af8;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}
/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
    gap: 20px;
}

#personal__logo {
    width: 100px;
    height: auto;
}

.nav__link {
    margin: 0 12px;
    align-items: center;
    padding-top: 36px;
}

.nav__link--anchor {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
}

.fa-adjust {
    font-size: 24px;
    color: #242424;
}

/* HEADER CONTENT */

.purple {
    color: #872af8;
}

.purple-two {
    color: #872af8;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    text-align: left;
    max-width: 450px;
    margin-top: 20px; 
}

.social__lists {
    margin-top: 16px;
    display: flex;
}

.social__links {
    background-color: #872af8;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* MODAL SECTION */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    display: flex;    
}

.modal__half {
    width: 50%;
    position: relative;
}

.modal__about {
    background-color: white;
    color: #242424;
    display: flex;
    flex-direction: column;
    padding: 40px 72px;   
    justify-content: center;
   
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}

.modal__language {
    scale: 3.0;
    padding-top: 18px;
}


.modal__contact {
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 72px;
}

.modal__title {
    font-size: 26px;
}

.modal__subtitle {
    margin: 12px 0 24px 0;
    font-size: 18px;
}

.modal__para {
    line-height: 1.75;
    margin-bottom: 24px;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #872af8;
    color: white;
    border: 2px solid #872af8;
    padding: 14px;
    max-width: 200px;
    width: 100%;
    font-size: 20px;
    border-radius: 7px;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
    transition: ease 450ms all;
}

.form__submit:active {
    border-color: #872af8;
    color: #872af8;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
   background-color: #4bb543;
   font-size: 40px;
   text-align: center;
   font-weight: 700;
   padding: 28px;
}

.modal__overlay--visible {
    z-index: 1;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* PROJECTS SECTION */

.section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.project__image {
    width: 100%;
    height: auto;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__image {
    transform: scale(1.07);
    filter: blur(5px);
    transition: all 600ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.9;
}

.project__description {
    position: absolute;
    top:50%;
    left:90px;
    transform: translateY(-100%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 600ms ease, transform 600ms ease;
} 

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 600ms ease;
}

.project__description--title {
    font-size: 50px;
}

.project__description--subtitle {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.project__description--link {
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

.project__description--para {
    margin-top: 16px 0;
    line-height: 2;
}

/* FOOTER SECTION */

footer {
    background-color: #242424;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#footer__logo {
    width: 150px;
    height: auto;
    filter: invert(1);
}

.footer__social--link {
    color: white;
}

.footer__copyright {
    margin-top: 22px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social--list {
    width: 100%;
    display: flex;  
    justify-content: space-around;
    max-width: 700px;
    margin: 28px 0;
}